<h2>Todos page</h2>
<div class="cont-todo">
{{#if todos.length}}
  <ul>
    {{#each todos}}
      
        <li class="todo">
        <label>
          <input type="checkbox" class="todo-checkbox" data-id="{{_id}}" {{#if completed}}checked{{/if}} />
          <span class="{{#if completed}}completed{{/if}}">{{title}}</span>
        </label>
      </li>
      
    {{/each}}
  </ul>
</div>
{{else}}
  <p>No todos!</p>
{{/if}}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".todo-checkbox").forEach(checkbox => {
      checkbox.addEventListener("change", async function () {
        const todoId = this.getAttribute("data-id");
        const completed = this.checked ? 1 : 0;

        try {
          const response = await fetch("/toggle-status", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({ id: todoId, completed })
          });

          if (!response.ok) {
            throw new Error("Failed to update status");
          }
        } catch (error) {
          console.error("Error updating todo status:", error);
          this.checked = !this.checked;
        }
      });
    });
  });
</script>
