.todo {
    margin-bottom: 1rem;
    color: aliceblue;
}

.todo span.completed {
    text-decoration: line-through;
}

span {
    color:#b39ddb;
    font-size: 20px;
    font-weight: 600;
}
.todo i {
z-index: 2;
}


.brand-logo{
    margin-left: 20px;
}

h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0;
    font-family: Blippo, fantasy;
    color: #b39ddb;
    font-weight: 400;
}

.cont-todo {
    border-radius: 16px;
    background-color: #b39ddb15;
    padding: 15px;
}

.reg{
    color: #b39ddb;
    font-weight: 700;
}